footer {
  padding: 90px 20px;
  bottom: 0;
  height: 50px;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin-top: 40px;
  text-align: center;
  color: #1d263a;
  opacity: 0.5;
}

.footer__group {
  margin-right: 80px;
}
